.notification {
	background: rgba(30, 30, 30, 0.8);
	border-radius: 5px;
}
.notification.urgency-critical {
	background: rgba(255, 0, 0, 0.8);
}
.notification-summary {
	font-weight: bold;
	font-size: 1.2rem;
}
.notification-app-name {
	font-size: 0.8rem;
}
